.message-bar-container {
  width: 100%;
  font-size: 21px;
  text-align: center;
  position: fixed;
  margin-top: 50px;
  top: 0px;
  left: 0;
  z-index: 21;
  -webkit-animation: fadeinout forwards 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinout forwards 2s; /* Firefox < 16 */
  -ms-animation: fadeinout forwards 2s; /* Internet Explorer */
  -o-animation: fadeinout forwards 2s; /* Opera < 12.1 */
  animation: fadeinout forwards 2s;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}
